<%= form_with(model: m_space) do |form| %>
  <% if m_space.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(m_space.errors.count, "error") %> prohibited this m_space from being saved:</h2>

      <ul>
        <% m_space.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :profile_pic, style: "display: block" %>
    <%= form.text_field :profile_pic %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
