<p style="color: green"><%= notice %></p>

<%= render @person_information %>

<div>
  <%= link_to "Edit this person information", edit_person_information_path(@person_information) %> |
  <%= link_to "Back to person information", person_informations_path %>

  <%= button_to "Destroy this person information", @person_information, method: :delete %>
</div>
