<p style="color: green"><%= notice %></p>

<%= render @contact_form %>

<div>
  <%= link_to "Edit this contact form", edit_contact_form_path(@contact_form) %> |
  <%= link_to "Back to contact forms", contact_forms_path %>

  <%= button_to "Destroy this contact form", @contact_form, method: :delete %>
</div>
